<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Maybe this page moved? Got deleted? Is hiding out in quarantine? Never existed in the first place?
                </div>
                <div class="error-actions">
                    <button routerLink="/home"
                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Let's go Home</button>
                </div>
            </div>
        </div>
    </div>
</div>