.h-10 {
    height: 10vh;
}

ul.navbar-nav a:hover {
    color: #F2AA4CFF !important;
}

.active {
    color: #F2AA4CFF !important;
}

li a {
    padding: 8px;
}

.logo-img {
    width: 120px; 
    height: 10vh;
}

.navbar-1 {
    background-color: #212529; 
    z-index: 20;
}